html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;

  display: flex;
}

/* NAVBAR */

.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background: rgba(68, 50, 151, 1);
}

.navbar_frame .container {
  position: relative;
  padding: 20px 0 14px;
  width: 1320px;
  height: auto;

  flex-direction: column;

  /* background-color: red; */
}

.navbar_frame .container .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* background-color: greenyellow; */
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 651px;
  height: 50px;
  border-radius: 6px;

  display: flex;
  flex-direction: row;

  background: rgba(255, 255, 255, 1);
}

.navbar_frame .nav_search_frame .search_box {
  padding: 10px 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;

  border-right: 1px solid rgba(214, 214, 214, 1);
}

.navbar_frame .category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0px 6px 6px 0px;
  background: rgba(245, 195, 75, 1);
}

.navbar_frame .navbar_top .nav_top_menu {
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .top_menu_box .box_info_box {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navbar_frame .box_info_box span {
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box_info_box strong {
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box_icon_box img {
  width: 22px;
  height: 22px;
}

.navbar_frame .box_icon_box .basket_count {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: rgba(245, 195, 75, 1);

  color: rgba(11, 30, 64, 1);

  font-family: Jost;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 8%;
  text-align: left;
}

.navbar_frame .container .navbar_bott {
  margin-top: 20px;
  border-top: 1px solid #5747a2;
}

.navbar_frame .navbar_bott .navbar_bott_menu_box {
  margin-top: 10px;
  height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .navbar_bott .browse_box {
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5747a2;
}

.navbar_frame .browse_box img {
  width: 20px;
  height: 18px;
}

.navbar_frame .browse_box span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 8%;
  text-align: left;
}

.navbar_frame .navbar_bott_menu_box .navbar_route_menu {
  width: 670px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_route_menu a {
  margin-right: 10px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.navbar_frame .navbar_route_menu a.title {
  color: #c99f5e;
}

.navbar_frame .sorting_menu span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
}

/* FOOTER PUBLISHING */

.home_page .footer_frame {
  position: relative;
  padding: 90px 0 20px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f3f5f6;
}

.footer_frame .container {
  flex-direction: column;
  margin-right: 10px;
}

.footer_frame .container .footer_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_frame .container .contact_us_boxes {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
}

.footer_frame .contact_us_boxes strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.footer_frame .contact_us_boxes .contact_us_wrapper {
  margin-top: 30px;
}

.footer_frame .contact_us_wrapper .contact_top {
  display: flex;
  flex-direction: row;
}

.footer_frame .contact_top img {
  margin: 5px 29px 0 0;
  width: 35px;
  height: 30px;

  display: flex;
  align-items: center;
}

.footer_frame .contact_top .contact_info {
  display: flex;
  flex-direction: column;
}

.footer_frame .contact_info strong {
  margin-bottom: 10px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.footer_frame .contact_info p {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.footer_frame .customer_support_boxes strong {
  margin-bottom: 26px;

  display: flex;
  flex-direction: column;
}

.footer_frame .customer_support_boxes .customer_support_types a {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
}

.footer_frame .mobile_app_boxes .social_media_boxes {
  display: flex;
  flex-direction: column;
}

.footer_frame .social_media_boxes strong {
  margin-bottom: 21px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.footer_frame .social_media_boxes .social_media_types {
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
}

.footer_frame .social_media_types img {
  margin-right: 28px;
}

.footer_frame .mobile_app_boxes.app_version {
  display: flex;
  flex-direction: column;
}

.footer_frame .app_version strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.footer_frame .app_version .phone_types {
  display: flex;
  flex-direction: column;
}

.footer_frame .phone_types .ios_or_android {
  margin-top: 21px;

  display: flex;
  flex-direction: row;
}

.footer_frame .ios_or_android img {
  margin-right: 15px;
  width: 20px;
  height: 15px;
}

.footer_frame .ios_or_android span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.footer_frame .container .card_boxes {
  margin-top: 133px;

  display: flex;
  flex-direction: column;
}

.footer_frame .card_boxes strong {
  margin-bottom: 18px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.footer_frame .card_boxes div {
  display: flex;
  flex-direction: row;
}

.footer_frame .card_boxes img {
  margin-right: 11px;
}

.footer_frame .container .footer_wrapper {
  margin-top: 90px;
  width: 100%;
  height: 64px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  border-top: 1px solid rgba(234, 234, 234, 1);
}

.footer_frame .footer_wrapper .footer_wrapper_left {
  width: 940px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_frame .footer_wrapper_left span {
  margin-right: 66px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}

.footer_frame .footer_wrapper_left .rules_info {
  width: 263px;
  height: 40px;

  display: flex;
  flex-direction: row;
}

.footer_frame .rules_info p {
  margin-right: 8px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}

.footer_frame .footer_wrapper .footer_wrapper_right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_frame .footer_wrapper_right .footer_select_box {
  padding: 10px 20px;
  width: 180px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}

.footer_frame .footer_select_box span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}

.footer_frame .footer_select_box select {
  margin-left: 20px;
  width: 70px;
  height: 90%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  color: rgba(4, 30, 66, 1);

  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
}
