.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.white_svg {
  filter: brightness(0) invert(1);
}

.container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.container .category_top a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}

.container .category_top a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

/* PAGINITION */

.container .pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagionation_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagination_main .pagination_dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.pagination_main img {
  cursor: pointer;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.container .pagination_dot .dot.active {
  border: 2px solid #112317;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background: #112317;
  border-radius: 50%;
}

.container .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: rgba(4, 30, 66, 1);
}

.container .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container .product_content_box .product_title {
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.container .product_content_box .product_desc {
  margin-top: 7px;
  height: 56px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  overflow: hidden;
}

.container .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .review_box img {
  margin-right: 5px;
}

.container .review_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.container .product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .price_box strong {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.container .price_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-decoration-line: line-through;
}

.container .next_prev_box {
  width: 25px;
}

.container .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

/* HEADER */

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;

  background-color: #0053f6;
  background-image: url(../images/icons/header_bg.svg);
  border-radius: 5px;
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 420px;

  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .header_content p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
}

.header_frame .container .header_right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-left: 37px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .box_left p {
  margin: 10px 0;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .box_left a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_box .box_right {
  width: 50%;
}

.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

/* SERVICE */
.home_page .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.service_frame .container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaae;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}

.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_content span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.service_frame .service_content p {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* SHOP CATEGORY */
.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.shop_category_frame .category_box span {
  margin-top: 15px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

/* SELLING PRODUCT */
.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}

.selling_product_frame .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling_product_frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);

  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.selling_product_frame .product_img_box:hover .hover_box {
  display: flex;
}

.selling_product_frame .product_box .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.selling_product_frame .product_content_box .product_title {
  color: rgb(98, 105, 116);
  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.selling_product_frame .product_content_box .product_desc {
  margin-top: 7px;
  height: 56px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  overflow: hidden;
}

.selling_product_frame .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .review_box img {
  margin-right: 5px;
}

.selling_product_frame .review_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.selling_product_frame .product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .price_box strong {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.selling_product_frame .price_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-decoration-line: line-through;
}

.container .pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagionation_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagination_main .pagination_dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.container .pagination_dot .dot.active {
  border: 2px solid #112317;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background: #112317;
  border-radius: 50%;
}

.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0, 83, 246, 1);

  background-color: #e5edff;
  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
/* SPEC PRODUCT */
.home_page .spec_product_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spec_product_frame .container {
  flex-direction: column;
}

.spec_product_frame .container .spec_product_wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec_product_frame .spec_product_wrapper .big_product_box {
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  width: 664px;
  height: 368px;

  display: flex;
  flex-direction: row;
  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.spec_product_frame .big_product_box .big_product_content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.spec_product_frame .big_product_content span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.spec_product_frame .big_product_content p {
  margin: 7px 0;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}

.spec_product_frame .big_product_content a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.spec_product_frame .big_product_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}

.spec_product_frame .spec_product_wrapper .small_product_wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spec_product_frame .small_product_wrapper .small_product_box {
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;

  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.spec_product_frame .small_product_box:nth-child(odd) {
  margin-right: 30px;
}

.spec_product_frame .small_product_box .small_product_content {
  display: flex;
  flex-direction: column;
}

.spec_product_frame .small_product_content strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.spec_product_frame .small_product_content span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.spec_product_frame .small_product_box img {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

/* TV FRAME */

.home_page .tv_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tv_frame .container {
  flex-direction: column;
}

.tv_frame .container .tv_top {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv_frame .tv_top .tv_top_left {
  width: 245px;
  height: 40px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.tv_frame .tv_top .tv_top_right {
  width: 523px;
  height: 28px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: rgba(98, 105, 116, 1);
}

.tv_frame .tv_top .tv_top_right span:hover {
  color: rgba(17, 33, 55, 1);
  border-bottom: 2px solid rgba(17, 33, 55, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.tv_frame .container .tv_wrapper {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

.tv_frame .tv_wrapper .tv_product_box {
  margin-left: 50px;
  position: relative;
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv_frame .tv_product_box .tv_product_info {
  margin-top: 25px;
  width: 260px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.tv_frame .tv_product_info .product_img {
  width: 212px;
  height: 230px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tv_frame .tv_text_box .tv_title {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.tv_frame .tv_text_box .tv_desc {
  width: 230px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.tv_frame .tv_text_box .tv_review_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tv_frame .tv_text_box .tv_review_box img {
  margin-right: 5px;
  width: 10px;
  height: 12px;
}

.tv_frame .tv_text_box .tv_review_box span {
  margin: 7px 0 7px 2px;
  width: 83px;
  height: 22px;
  color: rgba(98, 105, 116, 1);

  display: flex;
  align-items: center;

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.tv_frame .tv_text_box .tv_price_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tv_frame .tv_price_box strong {
  margin-right: 10px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.tv_frame .tv_price_box span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
}

/* EVENT */

.home_page .event_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url(../images/icons/event_bg.png);
}

.event_frame .container {
  flex-direction: row;
  justify-content: center;
}

.event_frame .container .event_content_box {
  width: 340px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event_frame .event_content_box .event_title {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.event_frame .event_content_box .timer_wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.event_frame .timer_wrapper .timer_box {
  width: 82px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.event_frame .timer_box strong {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

.event_frame .timer_box span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.event_frame .event_content_box a {
  width: 140px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.event_frame .container .event_product_wrapper {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.event_product_wrapper .event_product_boxes {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.event_product_boxes .event_product_box {
  margin-right: 8px;
  width: 205px;
  height: 392px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #ffffff;
}

.event_product_box .event_product_img {
  width: 100%;
  height: 220px;

  display: flex;
  align-items: center;
  justify-content: center;
}
